*{
	margin: 0;
	padding: 0;
}
.menu_image{
	display: block;
  	margin-left: 272px;
  	width: 250px;
}
h2{
	color: white;
}
.shell {
	width:1000px;
	margin:0 auto;
}

#content {
	width:1000px;
}

.left, .alignleft {
	float:left;
	display:inline;
}

.box {
	width:900px;
	float:left;
	display:inline;
	background:rgb(38,74,153);
	padding:11px;
	margin:0 10px 11px 0;
	position:relative;
}

.box .box-image {
	float:left;
	display:inline;
	width:150px;
	height:160px;
	position:relative;
}

.box .box-body .text {
	font-size:25px;
	line-height:22px;
	color:white;
}

.box .box-body .posted {
	font-size:14px;
	color:white;
	text-transform:uppercase;
}

