*{
	margin: 0;
	padding: 0;
}
.navbar{
	width: 100%;
	overflow:hidden;
	height: 70px;
	line-height: 70px;
	background-image:url("./Stela.png");
	background-size: 1400px 70px;
	background-repeat: no-repeat;
	background-position: 70px 0px; 
}

.navbar_img{
	height:70px;
	float: left;
}

.menu{
	float:right;
}

.menu li{
	float:left;
	width: 120px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	list-style: none;
}

.menu li a{
	color: #cee1ff;
	text-decoration: none;
	font-family: calibri;
}

.menu li:hover{
	background: purple;
}

.menu li a:hover{
	color:white;
}

a{
	text-decoration: none;
}